<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.dcs.dao.CrawlLinkMapper">
	<resultMap id="resultMap" type="cn.com.dcs.model.CrawlLink">
		<result property="id" column="ID" />
		<result property="uuid" column="UUID" />
		<result property="unitID" column="Unit_ID" />
		<result property="link" column="Link" />
		<result property="name" column="Name" />
		<result property="status" column="Status" />
	</resultMap>
	
	<select id="findBySiteId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT * FROM crawl_link WHERE Unit_ID=#{siteId}
	</select>

	<select id="findAll" resultMap="resultMap">
		SELECT * FROM crawl_link
	</select>

	<select id="find" resultMap="resultMap">
		SELECT * FROM crawl_link WHERE ID=#{id}
	</select>

	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO crawl_link(UUID,Unit_ID,Link,Name,Status)
		VALUES(#{uuid},#{unitID},#{link},#{name},#{status})
	</insert>

	<update id="update">
		UPDATE crawl_link SET
		UUID = #{uuid},
		Unit_ID =#{unitID},
		Link = #{link},
		Name = #{name},
		Status = #{status}
		WHERE ID=#{id}
	</update>

	<delete id="delete">
		DELETE FROM crawl_link WHERE ID=#{id}
	</delete>
</mapper>