<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.dcs.dao.CrawlContentMapper">
	<resultMap id="resultMap" type="cn.com.dcs.model.CrawlContent">
		<result property="id" column="ID" />
		<result property="unitID" column="Unit_ID" />
		<result property="type" column="Type" />
		<result property="formula" column="Formula" />
		<result property="memo" column="Memo" />
	</resultMap>
	
	<select id="findByUnitId" resultMap="resultMap" parameterType="java.lang.Integer">
		SELECT * FROM crawl_content WHERE  Unit_ID=#{unitId}
	</select>

	<select id="findAll" resultMap="resultMap">
		SELECT * FROM crawl_content
	</select>

	<select id="find" resultMap="resultMap">
		SELECT * FROM crawl_content WHERE ID=#{id}
	</select>

	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO crawl_content(Unit_ID,Type,Formula,Memo)
		VALUES(#{unitID},#{type},#{formula},#{memo})
	</insert>

	<update id="update">
		UPDATE crawl_content SET
		Unit_ID = #{unitID},
		Type =#{type},
		Formula = #{formula},
		Memo = #{memo}
		WHERE ID=#{id}
	</update>

	<delete id="delete">
		DELETE FROM crawl_content WHERE ID=#{id}
	</delete>
</mapper>